body {
    background-image: url("../img/fundo_login.jpg");

}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
}

#login {
    background-color: rgb(34, 139, 34, 0.85);
    border-radius: 5%;
    box-shadow: 0 0 1em black;
    padding: 5%;
}

#env {
    box-shadow: 0 0 0.2em black;
}